* {
	margin :0;
	padding:0;
	box-sizing:border-box;
	color:#6c6b6b;
}
.clearfix::after {
	content:"";
	display:block;
	clear:both;
}
main{
	width:960px;
	margin:50px auto;
}
.step{
	float:left;
	width:300px;
	margin-right:30px;
	padding:10px;
	position:relative;
	border:1px solid red;
}
.step:last-child {
	margin-right:0px;
}
.step1-box {
	height:200px;
	background-image:url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
}
.step2-box {
	height:200px;
	background-image:url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
}
.step3-box {
	height:200px;
	background-image:url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
}
.step-text {
	position:absolute;
	top:0;
	left:0;
	background-color:orange;
}
.step-title {
	padding:10px 0;
}